
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px;
    /* border: 1px solid; */
    background-color: rgb(254, 246, 129);
}
.logo > img{
    width: 80px;
    margin-top: 10px;


}
.nav-items{
    margin-right:10px;
    margin-top: 20px;
}
.nav-items > ul{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    
}
.nav-items > ul >li{
    /* border: 1px solid; */
    margin: 5px;
    list-style-type: none;
    font-size: 21px;
}

.Login{
    padding: 0px 20px;
}

.res-card{
    /* width: 400px;
    height: 500px; */
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    box-shadow:   5px 5px 3px rgba(0, 0, 0, 0.2);
}
.res-card:hover{
    cursor: pointer;
    box-shadow:   0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.res-card > img{
    /* margin-left: 50px; */
    width: 300px;
    height: 300px;
    /* border: 1px solid; */
}

.cardsDesc{
    width: 300px;
}
.body{
    /* border: 1px solid; */
    margin: 0px;
    padding: 20px;
    background: linear-gradient(to bottom,rgb(227, 195, 185),rgb(254, 246, 129));
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.Res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.Shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.Shimmer-cards{
    width: 400px;
    height: 500px;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    /* box-shadow:   5px 5px 3px rgba(0, 0, 0, 0.2); */
}

.filters{
    display: flex;
    justify-content: space-between;
}
.filter-restaurants{
    padding: 10px 20px ;
}
.search{
    display: flex;
    gap: 10px;
}

.button{
    padding: 10px 20px ;
    border: none;
    background-color: rgb(51, 51, 249);
    color: white;
    border-radius: 5px;
    cursor: pointer;

}
.search input{
    border: none;
    background-color: #f0f0f0;
    padding: 15px 25px;
    font-size: medium;
    border-radius: 30px;
    outline-color: rgb(222, 244, 236);
}